body{
    background-color: #f5f5f5;
    padding-left: 300px;
    padding-right: 300px;

}
/* Path: WD28-Code-Wars\All project\project1\resume\style.css */
h1{
    font-size: 3.5rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
    text-align: center;
}
h2{
    border: 1px solid #000;
    color: white;
    background-color: #000;
}
.profile{
    border: 10px solidrgb(2, 2, 2)c;
    width: 200px; height: 200px;
    float: right;
    border-style: solid;
    margin-top: 5rem;
}
.information{
    font-size: 20px;
    margin-top: 10rem;
}
.education{
    font-size: 20px;
}
.work{
    font-size: 20px;
}
.personal{
    font-size: 20px;
}
.language{
    font-size: 20px;
}
.img1{
    width: 400px; height: 300px;
    border: 5px solid #000;
    border-style: solid;
}
.img2{
    width: 400px; height: 300px;
    border: 5px solid #000;
    border-style: solid;
}
.img3{
    width: 400px; height: 300px;
    border: 5px solid #000;
    border-style: solid;
}
.img4{
    width: 400px; height: 300px;
    border: 5px solid #000;
    border-style: solid;
    margin-left:200px;
}
.img5{
    width: 400px; height: 300px;
    border: 5px solid #000;
    border-style: solid;
}
